// *** font variables *** //
$fancy-font: 'Pacifico', cursive;
$main-font: 'Mulish', sans-serif;

// *** color variables *** //
$navy-blue: #05518c;
$dark-gray: #373737;
$middle-gray: dimgray;
$very-light-gray: #f4f4f4;
$logo-orange: #ca7405;

// *** mixins *** //

// examples of how to structure mixins
//@mixin create-grid-settings($color, $grid-name, $margin) {
//  background-color: $color;
//  grid-area: $grid-name;
//  margin: $margin;
//}

//@mixin form-grid-settings($color, $radius, $padding) {
//  padding: $padding;
//  border-radius: $radius;
//  background: $color;
//}
