@import '_base';

// *** Reset *** //
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}

body {
  font-family: 'Mulish', sans-serif;
  background: #f4f4f4;
}

// *** General *** //



// *** Header *** //
header {
  display: flex;
  flex: 2;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: gray;
  font-size: 2em;
  letter-spacing: 2px;
  margin: 10px 20px;
}

.header {
  &__item {
    &--logo {
      width: 100px;
    }
  }
}

.header-links {
  display: flex;
  flex-flow: row nowrap;

  &__item {
    font-size: 0.6em;
    margin: 0 20px;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: dimgray;
}

.logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

}

// *** Landing View *** //
.landing-view {
  flex: 6;
  border-top: 1px solid gray;
  padding: 50px;
  background: #F4F4F4;
}


// *** Dashboard *** //
.manager-view,
.customer-view {
  display: flex;
  flex: 6;
  border-top: 1px solid gray;
  height: 100%;
}

.dashboard-menu {
  color: dimgray; //todo ==> make this accessible color palette
  width: 25%;
  background: white;
  padding: 30px;
  border-right: 1px solid gray;
}

.dashboard-label {
  color: #05518c;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  &__item {
    margin-right: 10px;
  }
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  border: none;
  background: white;
}

.menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;

  &__item {
    &--icon {
      margin: 10px 15px;
    }

    &--text {
    }
  }
}

// *** Dashboard Content Container *** //
.dashboard-title {
  font-weight: bold;
  color: dimgray;
  margin-bottom: 10px;
}

.dashboard-content {
  width: 80%;
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.content {
  flex-flow: column nowrap;
  color: gray;
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px lightgray;
  margin: 10px;

  &__bookings {
    margin: 10px;
    display: grid;
    grid-template-columns: 33% 33% 33%;

    &--item {
      margin: 5px 10px;
      width: 100%;
      height: 100%;
      border: 1px solid lightgray;
    }
  }

  &__spending {
    margin: 5px 10px;
  }
}

.item-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  padding: 20px;
  line-height: 1.5em;

  &__item {
    &--id {
      color: #50BDFB;
    }

    &--date,
    &--beds {
      font-weight: bold;
    }

    &--duration {
      margin-bottom: 10px;
    }

    &--room-type {
      padding: 5px;
      border-radius: 15px;
      color: white;
      border: none;

    }
  }
}

// todo ==> make sure all room types are taken care of
.single-room {
  background: #48d085;
}

.junior-suite {
  background: #F799CB;
}

.residential-suite {
  background: #818FD1;
}

.suite {
  background: #e5a93b;
}


// *** Media Queries *** //
@media screen and (max-width: 900px) {



}

@media screen and (max-width: 624px) {



}

.hidden {
  display: none;
}
