@import '_base';
@import '_reset';

body {
  line-height: 1;
  font-family: $main-font;
  background: $very-light-gray;
}

// *** General *** //
.wrapper {
  overflow-y: auto;
  overflow-x: hidden;
}

// *** Modals *** //
.modal {
  font-size: 0.5em;
}

.modal-icon {
  margin: 5px;
}

.date,
.user {
  color: $dark-gray;
}

// *** Header *** //
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $dark-gray;
  font-size: 2em;
  letter-spacing: 2px;
  margin: 10px 20px;
}

.nav {
  &__item {
    &--logo {
      width: 100px;
    }

    &--text {
      font-family: $fancy-font;
      font-weight: bold;
      font-size: 1.2em;
      color: $logo-orange;
    }
  }
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    font-size: 0.6em;
    margin: 0 20px;

    &--login,
    &--logout {
      padding: 0 5px;
      background: $very-light-gray;
    }
  }
}

.submit-login,
.submit-logout {
  background: $very-light-gray;
}

ul {
  list-style-type: none;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// *** Landing View *** //
.landing-view {
  border-top: 1px solid gray;
  padding: 50px;
  background: $very-light-gray;
  margin: 0 auto;
}

.landing-welcome {
  text-align: center;
  font-size: 1.5em;
  padding: 10px;
}

.features {
  margin: 20px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &__item {
    margin: 0 10px;
    color: $navy-blue;
    display: flex;
    align-items: center;

    &--icon {
      margin: 0 5px;
    }
  }
}

.cat-bed {
  width: 100%;
}

// *** Dashboard *** //
.main {
  display: flex;
  border-top: 1px solid gray;
  height: 100%;
}

.dashboard-menu {
  color: $middle-gray;
  width: 25%;
  background: white;
  padding: 30px;
  border-right: 1px solid gray;
}

.dashboard-label {
  color: $navy-blue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 0;

  &__item {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  border: none;
  background: white;
}

.menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;

  &__item {
    &--icon {
      margin: 10px 15px;
    }

    &--text {
      padding: 5px;
    }
  }
}

// *** Dashboard Content Container *** //
.dashboard-title {
  font-weight: bold;
  color: $middle-gray;
  margin-bottom: 10px;
}

.dashboard-content {
  width: 80%;
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.content {
  flex-flow: column nowrap;
  color: $dark-gray;
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px lightgray;
  margin: 10px;

  &__bookings {
    margin: 10px;
    display: grid;
    grid-template-columns: 33% 33% 33%;

    &--item {
      margin: 5px 10px;
      width: 100%;
      height: 100%;
      border: 1px solid lightgray;
    }
  }

  &__spending {
    margin: 5px 10px;
    font-size: 1.2em;
    font-weight: 700;

    &--text {
      padding: 20px;
      font-size: 1em;
      font-weight: 300;
    }
  }

  &__revenue {
    margin: 5px 10px;
    font-size: 1.2em;
    font-weight: 700;

    &--text {
      padding: 20px;
      font-size: 1em;
      font-weight: 300;
    }
  }
}


.item-container {
  // todo ==> try taking out grid, so it looks like room container
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  padding: 20px;
  line-height: 1.5em;

  &__item {
    &--id {
      color: $navy-blue;
    }

    &--date,
    &--beds {
      font-weight: bold;
      color: $dark-gray;
    }

    &--duration {
      margin-bottom: 10px;
    }

    &--room-type {
      padding: 5px;
      border-radius: 15px;
      color: $dark-gray;
      border: none;
    }
  }
}

.room-container {
  padding: 20px;
  line-height: 1.5em;

  &__item {

    &--number {
      font-weight: bold;
      color: $dark-gray;
    }

    &--bed-size,
    &--num-beds {
      color: $navy-blue;
    }

    &--cost-per-night {
      margin-bottom: 5px;
    }

    &--room-type {
      margin-bottom: 10px;
      padding: 5px 10px;
      border-radius: 15px;
      color: $dark-gray;
      border: none;
    }

    &--submit {
      float: right;
      margin-top: 10px;
      padding: 5px 10px;
      border-radius: 15px;
      color: black;
      border: none;
      background: coral;
    }
  }
}

// *** Gauge *** //
.gauge {
  width: 100%;
  max-width: 250px;

  &__body {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 50%;
    background: white;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
  }

  &__fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: linear-gradient(90deg, rgb(103, 124, 217) 0%, rgb(161, 241, 119) 100%);
    transform-origin: center top;
    transform: rotate(0.25turn);
    transition: transform 0.2s ease-out;
  }

  &__cover {
    position: absolute;
    width: 90%;
    height: 180%;
    border-radius: 50%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
  }
}

.gauge-box {
  color: $navy-blue;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.1em;
  font-weight: bold;
  padding: 5px;
  border: 1px solid gray;
  margin-left: 10px;
  margin-top: 20px;
}

.feedback {
  margin: 0 auto;
  text-align: center;
}

.apologies {
  width: 60%;
  margin: 0 auto;
  font-size: 1.2em;
  color: red;
}

.single-room {
  background: #48d085;
}

.junior-suite {
  background: #F799CB;
}

.residential-suite {
  background: #9ba7e3;
}

.suite {
  background: #e5a93b;
}

// *** Form *** //
fieldset {
  padding: 10px;
}

legend {
  padding: 10px;
}

input,
select {
  margin: 10px;
  font-size: 0.9em;
  padding: 5px;
}

.form-wrapper {
  font-size: 1.3em;
  width: 25%;
  margin: 0 auto;
  display: block;
}

.message-box {
  padding: 20px;
}

.button-box {
  display: flex;
  justify-content: space-between;

  &__item {
    margin: 10px;
  }
}

.success-box {
  border: 1px solid $navy-blue;
  padding: 5px;
  background: #9ba7e3;
  width: 50%;
  margin: 0 auto;
  outline: 7px solid #9ba7e3;
}


// *** Media Queries *** //
@media screen and (max-width: 900px) {



}

@media screen and (max-width: 765px) {
  nav {
    flex-flow: column nowrap;
  }

  .landing-view {
    padding: 0;
  }

  main {
    flex-flow: column wrap;
  }

  .dashboard-content {
    width: 100%;
    padding: 10px;
  }

  .dashboard-menu {
    width: 100%;
  }

  .features {
    flex-flow: column wrap;
    align-items: center;

    &__item {
      margin: 5px 10px;
      color: $navy-blue;
      display: flex;
      align-items: center;

      &--icon {
        margin: 0 10px;
      }
    }
  }

  .date,
  .user {
    display: none;
  }

  .content {
    padding: 10px;

    &__bookings {
      display: flex;
      flex-flow: row wrap;
    }
  }

  .item-container {
    padding: 5px;
  }

  .form-wrapper {
    width: 100%;
    padding: 5px;
  }
}

.hidden {
  display: none;
}

.cf:after {
  clear: both;
}
